@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Ubuntu", sans-serif;
}

:root {
    --body: #8377fc;
    --screen: #F5F5F7;
    --police-black: rgba(0, 0, 0, 0.7);
    --police-white: rgba(255, 255, 255, 0.7);
    --border: rgba(255, 255, 255, 0.12);
    --shadow: rgba(0, 0, 0, 0.25);
}

.none {
    display: none;
}

body {
    min-height: 100vh;
    padding: 10px;
    background-color: var(--body);
}

main {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.sidebar {
    padding: 10px 8px 0px 0px;
    width: 222px;
    height: 98vh;
    border-radius: 12px;
    background-color: transparent;
}

.sidebar-small {
    padding: 10px 8px 0px 0px;
    width: 40px;
    height: 95vh;
    border-radius: 12px;
    background-color: transparent;
}

.navigate {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    margin-bottom: 16px;
}

.left-nav,
.right-nav {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.left-nav {
    gap: 8px;
    margin-right: auto;
}

.right-nav {
    gap: 8px;
}

.navigate img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.search {
    margin-bottom: 16px;
}

.grid-favourite {
    grid-template-columns: 3fr;
    gap: 12px;
}

.favourite {
    width: 48px;
    height: 48px;
}

.favourite img {
    border-radius: 12px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.space-top {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 4px;
}

.pinned {
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: 74vh;
}

.pinned-folder {
    gap: 10px;
    background-color: transparent;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 10px;
    cursor: pointer;
    transition: all ease 0.3s;
}

.pinned-folder:hover {
    background-color: var(--border);
}

.pinned-folder p {
    margin-right: auto;
}

.pinned-folder .svg-hover {
    position: relative;
    width: 16px;
    height: 16px;
}

.pinned-folder .svg-hover img:nth-child(2) {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0%;
}

.pinned-tab {
    display: flex;
    flex-direction: row;
}

.footer {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.spaces-bottom {
    margin-right: auto;
}

.screen {
    border: 1px solid var(--border);
    box-shadow: 0px 4px 4px 0px var(--shadow);
    border-radius: 12px;
    width: 100%;
    height: 98vh;
    background-color: var(--screen);
}