@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
}

:root {
    --body: #8377fc;
    --screen: #f5f5f7;
    --police-black: rgba(0, 0, 0, 0.7);
    --police-white: rgba(255, 255, 255, 0.7);
    --border: rgba(255, 255, 255, 0.12);
    --shadow: rgba(0, 0, 0, 0.25);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    height: 100vh;
    background-color: var(--body);
    color: var(--police-white);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

main {
    margin-left: 8px;
    width: 100%;
    background-color: var(--screen);
    height: 98vh;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px var(--shadow);
}

header {
    width: 30vw;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* Style des conversations */
.conv--container {
    display: flex;
    width: 100%;
    padding: 8px 16px;
    background-color: var(--screen);
    border-radius: 8px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.conv--container img {
    margin-right: 16px;
    border-radius: 12px;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.conv--container:hover {
    background-color: var(--border);
}

.conv--container .contain-info-name-title {
    display: flex;
    align-items: center;
}

.conv--container .name-people {
    margin-right: 4px;
    font-weight: bold;
}

.conv--container .title-mess-people {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 120px;
    font-size: 12px;
    color: rgba(192, 192, 192, 0.8);
}

.conv--container .message-people {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
}

.conv--container .info-date-text {
    margin-left: auto;
    font-size: 12px;
    color: var(--police-white);
}

/* Résultats de la recherche */
.search-result {
    display: flex;
    width: 100%;
    padding: 8px 16px;
    background-color: var(--screen);
    border-radius: 8px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-bottom: 8px;
}

.search-result:hover {
    background-color: var(--border);
}

.search-result img {
    margin-right: 16px;
    border-radius: 12px;
    width: 40px;
    height: 40px;
    object-fit: cover;
}